@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

input::-webkit-input-placeholder {
  /*WebKit browsers*/
  color: #000000;
  font-size: 0.36rem;
}

input::-moz-input-placeholder {
  /*Mozilla Firefox*/
  color: #000000;
  font-size: 0.36rem;
}

input::-ms-input-placeholder {
  /*Internet Explorer*/
  color: #000000;
  font-size: 0.36rem;
}

/* 首页 */

.int-t {
  width: 100%;
  position: relative;
}

.int-t-mid img {
  width: 100%;
  display: block;
  height: 2.1rem;
}

.int-t-c {
  width: 98%;
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 11;
}

.int-t-c-po {
  width: auto;
  position: relative;
}

.int-t-c-po img {
  width: 4rem;
  display: block;
}

.int-t-c-po textarea {
  position: absolute;
  top: 32%;
  left: 8%;
  width: 3rem;
  height: 1.4rem;
  border: none;
  font-size: 0.3rem;
  color: #00265d;
}

.int-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.int-img img {
  width: 100%;
  width: 100%;
}

.intfooter {
  width: 100%;
  position: absolute;
  z-index: 11;
  bottom: 100px;
}

.intfooter-t img {
  width: 100%;
  display: block;
}

.intfooter-b {
  position: absolute;
  top: 12%;
  display: flex;
  align-items: center;
  left: 10%;
}

.intfooter-b-mid {
  width: 2.8rem;
  height: 0.8rem;
  text-align: center;
  line-height: 0.8rem;
  border-radius: 0.1rem;
  font-size: 0.34rem;
}

.intcolorleft {
  background-color: #FFFFFF;
  color: #00265d;
  margin-right: 0.2rem;
}

.intcolorright {
  background-color: #01265d;
  color: #eaf4dd;
}

/* 分享 */

.sharegroup {
  width: 100%;
  height: 100%;
  padding: 3% 6%;
}

.sharemain {
  width: 90%;
  position: relative;
  margin: 0 auto;
}

.share-t {
  width: 100%;
  position: relative;
}

.share-t-mid img {
  width: 100%;
  display: block;
}

.share-t-c {
  width: 100%;
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 11;
}

.share-t-c-po {
  width: auto;
  position: relative;
}

.share-t-c-po img {
  width: 3rem;
  display: block;
}

.share-t-c-po span {
  font-size: 0.28rem;
  color: #000000;
  position: absolute;
  top: 32%;
  left: 8%;
  width: 2.5rem;
}

.share-img {
  width: auto;
  position: absolute;
  top: 14%;
  left: 20%;
  z-index: 2;
}

.share-img img {
  width: 3.2rem;
  display: block;
}

.sharefooter {
  width: 100%;
  ;
  position: relative;
}

.sharefooter-t img {
  width: 100%;
  display: block;
}

.share {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.share-mid {
  width: 1.4rem;
  height: 1.4rem;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-mid img {
  width: 1rem;
}

.share-p {
  width: 100%;
}

.share-p p {
  font-size: 0.28rem;
  color: #666666;
  margin: 0.2rem 0;
}

.share-p button {
  background-color: #7fb53b;
  font-size: 0.32rem;
  color: #FFFFFF;
  width: 100%;
  height: 0.8rem;
  border: none;
  border-radius: 0.1rem;
}

/* 弹幕 */

/* 弹幕评论 */

.barrage {
  width: 100%;
  height: 100%;
}

.barrage-top {
  width: auto;
}

.barrage-top img {
  width: 100%;
  display: block;
}

.mid-img {
  width: 100%;
  position: absolute;
}

.mid-img img {
  width: 100%;
  display: block;
}

.screen {
  overflow: hidden;
  position: relative;
  height: 75%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.send {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.input {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px -350px;
  font-size: 0;
}

.text {
  float: left;
  width: 600px;
  height: 40px;
  border: none;
  border-radius: 8px 0 0 8px;
}

.s_show div {
  position: absolute;
  font-size: 0.26rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  background-color: #e3f3c8;
  padding: 2% 4%;
  border-radius: 0.1rem;
}

.btn {
  float: left;
  width: 100px;
  background-color: black;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fe5757;
  animation: colorChange 30s ease-in-out infinite;
  animation-fill-mode: both;
  mix-blend-mode: overlay;
}

@keyframes colorChange {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: .9;
  }
}

.landscape {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 1000px 250px;
  background-repeat: repeat-x;
  background-position: center bottom;
}

.send img {
  width: 100%;
  display: block;
}

.footer {
  width: 100%;
  position: relative;
}

.footer img {
  width: 100%;
  display: block;
  height: 1.5rem;
}

.footer-cen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.footer-b {
  width: 100%;
  display: flex;
  align-items: center;
}

.footer-b span {
  padding: 3% 6%;
  background-color: #123a58;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  margin-right: 1rem;
  font-size: 0.2rem;
  white-space: nowrap;
  border-radius: 1rem;
}

.raicon {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 0.2rem;
  overflow: hidden;
  display: block;
  border: 1px solid #7fb53b;
  margin-right: 0.2rem;
}

.raicon img {
  width: 100%;
}

/* 授权登录 */

.wxtop {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wxtop-ft {
  width: 100%;
  position: relative;
}

.wxtop-ft img {
  width: 5.8rem;
}

.wxtop-ft img:last-of-type {
  width: 4.8rem;
  margin-left: 1rem;
}

.wxmid {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.wxmid div {
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wxmid div img {
  width: 4.4rem;
  margin-right: 0.2rem;
}

.mid-f {
  font-size: 0.38rem;
  color: #00265d;
  text-align: center;
  margin-top: 0.3rem;
}

/* 手机登录 */

.main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.main .mainBg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

.main .mainBg img {
  width: 100%;
  height: 100%;
}

.top {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top>img {
  width: 5rem;
}

.middle {
  margin-top: 10%;
  width: 100%;
  position: absolute;
  top: 40%;
}

.middle-t {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-t>input {
  width: 3.6rem;
  height: 0.8rem;
  border-radius: 6px;
  border: none;
  margin-right: 0.3rem;
  padding: 0.2rem;
}

.middle-t>button {
  width: 2rem;
  background-color: #FFFFFF;
  height: 0.8rem;
  border-radius: 6px;
  border: none;
  font-size: 0.3rem;
}

.middle-b {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.4rem;
}

.middle-b>input {
  width: 5.9rem;
  height: 0.8rem;
  padding: 0.2rem;
  border-radius: 6px;
  border: none;
}

.mid-but {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
}

.mid-but>button {
  width: 5.9rem;
  height: 0.8rem;
  border-radius: 6px;
  background-color: #00265d;
  text-align: center;
  line-height: 0.8rem;
  color: #FFFFFF;
  font-size: 0.4rem;
  border: none;
}